<div class="container" *ngIf = "!error">
  <div class="row profile">
    <div class="col-md-12">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="flex-box">
          <div class="profile-userpic">
           <img [src]="imgUserUrl" class="img-responsive" alt="imgUserAlt">
            <!--<details-upload [fileUpload]='imgUserUrl'></details-upload>-->
          </div>
        </div>

        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            {{agent.agentShortName}}
            <span style="font-size: 12px;">&nbsp;
              <i class="fa fa-id-card"></i>&nbsp; {{agent.agentCode}}</span>
          </div>
          <div class="profile-usertitle-job">
            {{agent.agentDesignation}}
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <!--<div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">Follow</button>
          <button type="button" class="btn btn-danger btn-sm">Message</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li>
              <a>
                <i class="fa fa-user"> &nbsp; </i>
                {{agent.agentFirstName}} {{agent.agentMidName}} {{agent.agentLastName}}</a>
            </li>
            <li>
              <a>
                <i class="fa fa-location-arrow">&nbsp; </i>
                {{agent.agentAddress1}} {{agent.agentAddress2}}</a>
            </li>
            <li>
              <a>
                <i class="fa fa-calendar">&nbsp; </i>
                {{agent.agentAppoinmentDate}}
                <span style="font-size: 12px;">&nbsp;&nbsp;(Appoinment Date)</span>
              </a>
            </li>
            <li>
              <a>
                <i class="fa fa-id-card">&nbsp; </i>
                {{agent.agentNic}} </a>
            </li>
            <li>
              <a>
                <i class="fa fa-calendar">&nbsp; </i>
                {{agent.agentDob}}
                <span style="font-size: 12px;">&nbsp;&nbsp;(DOB)</span>
              </a>
            </li>
            <li>
              <a>
                <i class="fa fa-phone">&nbsp; </i>
                {{agent.agentMobile}} </a>
            </li>

            <li>
              <a>
                <i class="fa fa-graduation-cap">&nbsp; </i>
                {{agent.agentSlii}}
                <span style="font-size: 12px;">&nbsp;&nbsp;(SLII)</span>
              </a>
            </li>
            <li>
              <a>
                <i class="fa fa-credit-card">&nbsp; </i>
                {{agent.agentAccountNo}}
                <span style="font-size: 12px;">&nbsp;&nbsp;(Acc. No.)</span>
              </a>
            </li>

            <!--<li>
              <div class="flex-box" style="margin-top: 10px;">
                  <form>
                      <image-upload name="file" [url]="url" [style]="customStyle" [max]="1" buttonCaption="Browse" dropBoxMessage="" [maxFileSize]="4194304" [extensions]="['jpg','png']"></image-upload>
                  </form>
              </div>
            </li>-->
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
  </div>
</div>

<div class="container" style="min-height: 600px;" *ngIf = "error">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1>
                  Oops!</h1>
              <h2>
                  404 Not Found</h2>
              <div class="error-details">
                  Sorry, Your profile not found!
              </div>
              
          </div>
      </div>
  </div>
</div>