<div class="main_div" style="height: 565px;;">
    <div class="header_div">
        <h2>Proposal Info</h2>
    </div>
    <div class="body_div">
        <ngb-tabset type="pills">
            <ngb-tab title="Main Life">
                <ng-template ngbTabContent>
                    <div class="container-fluid content-div" style="margin-top: 10px;">

                        <form class="form-horizontal" [formGroup]="mainLifeForm">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Title:</label>
                                <div class="col-sm-10">
                                    <select class="form-control"  formControlName="mTitle" name="mselectTitle" [(ngModel)]="_mainLife._mTitle" (change)="setGender()">
                                        <option value="MR">MR</option>
                                        <option value="MRS">MRS</option>
                                        <option value="MS">MS</option>
                                        <option value="MIS">MIS</option>
                                        <option value="DR">DR</option>
                                        <option value="DRMS">DRMS</option>
                                        <option value="REV">REV</option>
                                        <option value="VEN">VEN</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="insuredName">Insured Name:</label>
                                <div class="col-sm-10">
                                    <input type="email" maxlength="200" class="form-control" (keyup)="keyup($event)" id="txt-insuredName" formControlName="mName" placeholder="Enter Insured Name"
                                        [(ngModel)]="_mainLife._mName" [(uppercase)]='_mainLife._mName' name="insuredName" (blur)="checkValidity()" />
                                    <div class="alert alert-danger" *ngIf="mainLifeForm.get('mName').touched && mainLifeForm.get('mName').invalid">
                                        Name is Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="nic">NIC No:</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" (keyup)="keyup($event)" formControlName="mNic" id="txt-nic" placeholder="Enter NIC"
                                        [(ngModel)]="_mainLife._mNic" [(uppercase)]='_mainLife._mNic' name="nic" (blur)="loadDOBFromNic($event)" (keyup.enter)="loadDOBFromNic($event)" />
                                    <div class="alert alert-danger" *ngIf="mainLifeForm.get('mNic').touched && mainLifeForm.get('mNic').invalid">
                                        Valid Nic Number is Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Email:</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" (keyup)="keyup($event)" formControlName="mEmail" id="txt-email" placeholder="Enter email"
                                        [(ngModel)]="_mainLife._mEmail" name="email" (blur)="checkValidity()">
                                    <div class="alert alert-danger" *ngIf="mainLifeForm.get('mEmail').touched && mainLifeForm.get('mEmail').invalid">
                                        Valid Email is Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="gender">Gender:</label>
                                <div class="col-sm-10 btn-group" ngbRadioGroup name="radioGender" formControlName="mGender" [(ngModel)]="_mainLife._mGender"
                                    (change)="check()">
                                    <label ngbButtonLabel class="btn-primary">
                                        <input ngbButton type="radio" value="M" (click)="canChangeGender()"> Male
                                    </label>
                                    <label ngbButtonLabel class="btn-primary">
                                        <input ngbButton type="radio" value="F" (click)="canChangeGender()"> Female
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="gender">Civil Status:</label>
                                <div class="col-sm-10 btn-group" ngbRadioGroup formControlName="mCivilStatus" name="radioStatus" [(ngModel)]="_mainLife._mCivilStatus"
                                    (change)="check()">
                                    <label ngbButtonLabel class="btn-primary">
                                        <input ngbButton type="radio" value="S" (click)="resetActivation()"> Single
                                    </label>
                                    <label ngbButtonLabel class="btn-primary">
                                        <input ngbButton type="radio" value="M" (click)="resetActivation()"> Married
                                    </label>
                                    <label ngbButtonLabel class="btn-primary">
                                        <input ngbButton type="radio" value="D" (click)="resetActivation()"> Divorced
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="dob">Date of Birth:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="date-dob" (keyup)="keyup($event)" formControlName="mDob" name="date-dob" [(ngModel)]="_mainLife._mDob"
                                        (blur)="calculateAgeM(e)" (keyup.enter)="calculateAgeM(e)" placeholder="DD-MM-YYYY">
                                    <div class="alert alert-danger" *ngIf="mainLifeForm.get('mDob').touched && mainLifeForm.get('mDob').invalid">
                                        Invalid Date Format</div>
                                </div>
                                <label class="control-label col-sm-2" for="age">Age:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="txt-age" formControlName="mAge" name="txt-age" placeholder="0" [(ngModel)]="_mainLife._mAge"
                                        (change)="check()" readonly>
                                    
                                </div>
                            </div>
                            <div class="form-group" style="display:none;">
                                <label class="control-label col-sm-2" for="smoke">Smoking:</label>
                                <div class="col-sm-10 btn-group" ngbRadioGroup name="radioSmoke" formControlName="mSmoking" [(ngModel)]="_mainLife._mSmoking">
                                    <label ngbButtonLabel class="btn-primary">
                                        <input ngbButton type="radio" value="Yes"> Yes
                                    </label>
                                    <label ngbButtonLabel class="btn-primary">
                                        <input ngbButton type="radio" value="No"> No
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="mobile">Mobile:</label>
                                <div class="col-sm-10">
                                    <input type="number" [(ngModel)]="_mainLife._mMobile" (keyup)="keyup($event)" formControlName="mMobile" class="form-control"
                                        id="txt-mobile" placeholder="Enter Mobile" name="mobile" (blur)="checkValidity()">
                                    <div class="alert alert-danger" *ngIf="mainLifeForm.get('mMobile').touched && mainLifeForm.get('mMobile').invalid">
                                        Valid Mobile Number is Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="occupation">Occ. Cat:</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="select-mOccu" name="select-occu" formControlName="mOccu" (change)="check()" [(ngModel)]="_mainLife._mOccupation">
                                        <option *ngFor="let occupation of ocupations" [attr.value]="occupation.ocupationid" [selected]="occupation.ocupationid == _mainLife._mOccupation">
                                            {{occupation.ocupationName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </ng-template>
            </ngb-tab>


        </ngb-tabset>

        <div>
            <router-outlet></router-outlet>
        </div>

    </div>

</div>