<div class="mainBody" [ngClass]="{'disabled': isDisableDiv == true}">
  <div class="text-left col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <app-dta-personal-info  (onSetSpActive)="onSetSpActive($event)"
      (setBsa) = "setBsa($event)"
        (calPreviousRiskM) = "calPreviousRiskM($event)"
        (calPreviousRiskS) = "calPreviousRiskS($event)"
        (clearbenef)="clearbenef($event)"
        (clearbenefAll)="clearbenefAll($event)"
      (onSet)="onSet($event)" [activeSp]="activeSp" [_personalInfo]="personalInfo" [summeryInfo]="summeryInfo" (onSetCalObj)="onSetCalObj($event)" (setValidity)="setValidity($event)"></app-dta-personal-info>
  </div>
  <div class="text-left col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <app-dta-benefict-info
      (onsetBenifMainlife)="onsetBenifMainlife($event)"
      (onsetBenifSpouse)="onsetBenifSpouse($event)"
      (onsetBenifMainlifeForm)="onsetBenifMainlifeForm($event)"
      (onsetBenifSpouseForm)="onsetBenifSpouseForm($event)"
      [summeryInfo]="summeryInfo"
      [personalInfo]="_quotationCalculation._personalInfo"
      [activeSp]="activeSp"[isImgTPDDTASGActive]="isImgTPDDTASGActive"
      [isImgTPDDTASActive]="isImgTPDDTASActive"
      [isImgJLBGActive]="isImgJLBGActive" [isImgJLBActive]="isImgJLBActive"
      [isImgTPDDTAGActive]="isImgTPDDTAGActive" [isImgTPDDTAActive]="isImgTPDDTAActive"
      ></app-dta-benefict-info>
  </div>
  <div class="text-left col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <app-dta-summery [summeryInfo]="summeryInfo" [isEditUI]="isEditUI" (save)="save($event)" (edit)="edit($event)" (setclear)="setclear($event)"></app-dta-summery>
  </div>

</div>