<div id="loginDiv">
    <div id="imgDiv">
        <img src="assets/images/logo.png" alt="ARPICO INSURANCE">
    </div>
    <h3>Change Password </h3>
    <h5>Password must be contains with minimum 8 characters <br></h5>
    <form #nextForm="ngForm" (ngSubmit)="checkLogin(nextForm)" *ngIf="!isLogIn()">
        <div class="group">      
            <input type="text" [(ngModel)]="username" name="userNameTxt" id="userNameTxt" required autofocus="" (keyup.enter)="onKeyup()" >
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>User Name</label>
        </div>
        
        <div class="group">      
            <input type="password" name="cPasswordTxt" id="cPasswordTxt" [(ngModel)]="password" required (keyup.enter)="onKeyup1()" >
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Current Password</label>
        </div>

        <div class="group">
            <button class="btn btn-primary" id="nextBtn">Next</button>
        </div>

    </form>

    <form #changePwForm="ngForm" (ngSubmit)="changePw(changePwForm)" *ngIf="isLogIn()">

        <div class="group">      
            <input type="password" name="nPasswordTxt" id="nPasswordTxt" [(ngModel)]="newPw" required (keyup.enter)="onKeyup2()" >
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>New Password</label>
        </div>

        <div class="group">      
            <input type="password" name="coPasswordTxt" id="coPasswordTxt" [(ngModel)]="conPw" required (keyup.enter)="onKeyup3()">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Confirm Password</label>
        </div>
        
        <div class="group">
            <button class="btn btn-primary" id="changePwBtn" >CHANGE</button>
        </div>
    
    </form>
</div>
