<div class="main_div" style="height: 590px;">
  <div class="header_div">
    <h2>Additional Benefits (ARTM)</h2>
  </div>

  <div class="row container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div style=" background: rgb(240, 240, 240); margin-bottom: 15px;">
        <table style="width: 100%; margin-top: 5px;">

          <tbody class="tBody">
            <tr>
              <th class="center thead">Retirement Age</th>
              <td class="center thead">: {{personalInfo.retAge}}</td>
              <th class="center thead">Frequency</th>
              <td class="center thead">: {{summeryInfo._summery._payType}}</td>
            </tr>
            <tr>
              <th class="center thead">Paying Term</th>
              <td class="center thead">: {{personalInfo.payingterm}}</td>
              <th class="center thead">Policy Term </th>
              <td class="center thead">: {{personalInfo.term}}</td>
            </tr>
            <tr>
              <th class="center thead">Pension Paying Term</th>
              <td class="center thead">: {{personalInfo.pensionPaingTerm}}</td>
              <th class="center thead">Contribution </th>
              <td class="center thead">: {{personalInfo.bsa.toLocaleString()}}</td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>


  <div class="body_div">
    <ngb-tabset>
      <ngb-tab title="Main Life">
        <!-- mainlife................................................................
            .........................................................................
            ...........................-->
        <ng-template ngbTabContent>
          <form class="form-horizontal" [formGroup]="abmForm">
            <div class="content-div4" style="margin-top: 10px;">


              <div class="col-sm-12" [ngClass]="{'disabled': activeRiders.includes('L2') == false}">
                <div class="benf_div container-fluid" formGroupName="L2">
                  <div class="row">
                    <div class="col-xs-5">
                      <input formControlName="isActice" type="checkbox" class="" id="test-Active" (change)="isActiveL2($event)"
                        (click)="removeError('L2')" onclick="return false">
                      <label class="" for="sumAssured">L2 <span class="tooltip1">ⓘ <span class="tooltiptext">{{beneficts._l2}}</span></span>
                      </label>
                      <div>
                        <img [src]="imgL2GUrl" class=" img_active" [style.display]="isImgL2GActive ? 'block' : 'none'">
                      </div>
                      <div>
                        <img [src]="imgL2Url" class="img_active" [style.display]="isImgL2Active ? 'block' : 'none'">
                      </div>
                    </div>
                    <div class="col-xs-7">
                      <div class="row">
                        <div class="col-xs-7">
                          <label class="frm_lbl" for="sumAssured">Sum Assured</label>
                          <input formControlName="sumAssured" type="number" class="form-control input-sm" (keyup.enter)="checkValidateL2()"
                            (blur)="checkValidateL2()" (keyup)="removeError('L2')" (click)="removeError('L2')" id="txt-sumassured"
                            currencyMask>
                          <div class="alert alert-danger" *ngIf="validateL2!=1">
                            Error</div>
                        </div>
                        <div class="col-xs-5">
                          <div *ngIf="validateL2==1">
                            <label class="frm_lbl" for="sumAssured">Premium</label>
                            <input formControlName="premium" type="text" class="form-control input-sm" [(ngModel)]="summeryInfo._protection.L2"
                              readonly id="txt-premium" [disabled]="isImgGActive">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12" [ngClass]="{'disabled': activeRiders.includes('CIB') == false}" *ngIf="personalInfo.frequance !== 'S'">
                <div class="benf_div container-fluid" formGroupName="CIB">
                  <div class="row">
                    <div class="col-xs-5">
                      <input formControlName="isActice" type="checkbox" class="" id="test-Active" (change)="isActive($event, 'CIB')"
                        (click)="removeError('CIB')" (change)="isActiveCIB($event)">
                      <label class="" for="sumAssured">CIB <span class="tooltip1">ⓘ <span class="tooltiptext">{{beneficts._cib}}</span></span>
                      </label>
                      <div>
                        <img [src]="imgCibGUrl" class=" img_active" [style.display]="isImgCIBGActive ?'block'  : 'none'">
                      </div>
                      <div>
                        <img [src]="imgCibUrl" class="img_active" [style.display]="isImgCIBActive ? 'block' : 'none'">
                      </div>
                    </div>
                    <div class="col-xs-7">
                      <div class="row">
                        <div class="col-xs-7">
                          <label class="frm_lbl" for="sumAssured">Sum Assured</label>
                          <input formControlName="sumAssured" type="number" class="form-control input-sm" (keyup)="removeError('CIB')"
                            (click)="removeError('CIB')" (keyup.enter)="checkValidateCIB()" (blur)="checkValidateCIB()"
                            id="txt-sumassured" [disabled]="isImgGActive" currencyMask>
                          <div class="alert alert-danger" *ngIf="validateCIB!=1">
                            Error</div>
                        </div>
                        <div class="col-xs-5">
                          <div *ngIf="validateCIB==1">
                            <label class="frm_lbl" for="sumAssured">Premium</label>
                            <input formControlName="premium" type="text" class="form-control input-sm" [(ngModel)]="summeryInfo._health.CIB"
                              readonly id="txt-premium" [disabled]="isImgGActive">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12" [ngClass]="{'disabled': activeRiders.includes('HCBI') == false}" *ngIf="personalInfo.frequance !== 'S'">
                <div class="benf_div container-fluid" formGroupName="HRBI">
                  <div class="row">
                    <div class="col-xs-5">
                      <input formControlName="isActice" type="checkbox" class="" id="test-Active" (change)="isActive($event, 'HRBI')"
                        (change)="isActiveHRBI($event)" (click)="removeError('HRBI')" *ngIf="!isImgSUHRBActive && !isImgHRBFActive && !isImgSHCBFActive">
                      <label class="" for="sumAssured">HCBI <span class="tooltip1">ⓘ <span class="tooltiptext">{{beneficts._hcbi}}</span></span>
                      </label>
                      <div>
                        <img [src]="imgHrbiGUrl" class=" img_active" [style.display]="isImgHRBIGActive ?'block'  : 'none'">
                      </div>
                      <div>
                        <img [src]="imgHrbiUrl" class="img_active" [style.display]="isImgHRBIActive ? 'block' : 'none'">
                      </div>
                    </div>
                    <div class="col-xs-7">
                      <div class="row">
                        <div class="col-xs-7">
                          <label class="frm_lbl" for="sumAssured">Sum Assured</label>
                          <input formControlName="sumAssured" type="number" class="form-control input-sm" (keyup.enter)="checkValidateHRBI()"
                            (blur)="checkValidateHRBI()" (keyup)="removeError('HRBI')" (click)="removeError('HRBI')" id="txt-sumassured"
                            [disabled]="isImgGActive" currencyMask>
                          <div class="alert alert-danger" *ngIf="validateHRBI!=1">
                            Error</div>
                        </div>
                        <div class="col-xs-5">
                          <div *ngIf="validateHRBI==1">
                            <label class="frm_lbl" for="sumAssured">Premium</label>
                            <input formControlName="premium" type="text" class="form-control input-sm" [(ngModel)]="summeryInfo._health.HRBI"
                              readonly id="txt-premium" [disabled]="isImgGActive">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12" [ngClass]="{'disabled': activeRiders.includes('HCBF') == false}" *ngIf="personalInfo.frequance !== 'S'">
                <div class="benf_div container-fluid" formGroupName="HRBF">
                  <div class="row">
                    <div class="col-xs-5">
                      <input formControlName="isActice" type="checkbox" class="" id="test-Active" (change)="isActive($event, 'HRBF')"
                        (change)="isActiveHRBF($event)" (click)="removeError('HRBF')" *ngIf="!isImgSUHRBActive && !isImgHRBIActive && !isImgSHCBFActive">
                      <label class="" for="sumAssured">HCBF <span class="tooltip1">ⓘ <span class="tooltiptext">{{beneficts._hcbf}}</span></span>
                      </label>
                      <div>
                        <img [src]="imgHrbfGUrl" class=" img_active" [style.display]="isImgHRBFGActive ?'block'  : 'none'">
                      </div>
                      <div>
                        <img [src]="imgHrbfUrl" class="img_active" [style.display]="isImgHRBFActive ? 'block' : 'none'">
                      </div>
                    </div>
                    <div class="col-xs-7">
                      <div class="row">
                        <div class="col-xs-7">
                          <label class="frm_lbl" for="sumAssured">Sum Assured</label>
                          <input formControlName="sumAssured" type="number" class="form-control input-sm" (keyup.enter)="checkValidateHRBF()"
                            (blur)="checkValidateHRBF()" (keyup)="removeError('HRBF')" (click)="removeError('HRBF')" id="txt-sumassured"
                            [disabled]="isImgGActive" currencyMask>
                          <div class="alert alert-danger" *ngIf="validateHRBF!=1">
                            Error</div>
                        </div>
                        <div class="col-xs-5">
                          <div *ngIf="validateHRBF==1">
                            <label class="frm_lbl" for="sumAssured">Premium</label>
                            <input formControlName="premium" type="text" class="form-control input-sm" [(ngModel)]="summeryInfo._health.HRBF"
                              readonly id="txt-premium" [disabled]="isImgGActive">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12" [ngClass]="{'disabled': activeRiders.includes('SHCBI') == false}" *ngIf="personalInfo.frequance !== 'S'">
                <div class="benf_div container-fluid" formGroupName="SUHRB">
                  <div class="row">
                    <div class="col-xs-5">
                      <input formControlName="isActice" type="checkbox" class="" id="test-Active" (change)="isActive($event, 'SUHRB')"
                        (change)="isActiveSUHRB($event)" (click)="removeError('SUHRB')" *ngIf="!isImgHRBIActive && !isImgHRBFActive && !isImgSHCBFActive">
                      <label class="" for="sumAssured">SHCBI <span class="tooltip1">ⓘ <span class="tooltiptext">{{beneficts._shcbi}}</span></span>
                      </label>
                      <div>
                        <img [src]="imgSuhrbGUrl" class=" img_active" [style.display]="isImgSUHRBGActive ?'block'  : 'none'">
                      </div>
                      <div>
                        <img [src]="imgSuhrbUrl" class="img_active" [style.display]="isImgSUHRBActive ? 'block' : 'none'">
                      </div>
                    </div>
                    <div class="col-xs-7">
                      <div class="row">
                        <div class="col-xs-7">
                          <label class="frm_lbl" for="sumAssured">Sum Assured</label>
                          <input formControlName="sumAssured" type="number" class="form-control input-sm" (keyup.enter)="checkValidateSUHRB()"
                            (blur)="checkValidateSUHRB()" (keyup)="removeError('SUHRB')" (click)="removeError('SUHRB')"
                            id="txt-sumassured" [disabled]="isImgGActive" currencyMask>
                          <div class="alert alert-danger" *ngIf="validateSUHRB!=1">
                            Error</div>
                        </div>
                        <div class="col-xs-5">
                          <div *ngIf="validateSUHRB==1">
                            <label class="frm_lbl" for="sumAssured">Premium</label>
                            <input formControlName="premium" type="text" class="form-control input-sm" [(ngModel)]="summeryInfo._health.SUHRB"
                              readonly id="txt-premium" [disabled]="isImgGActive">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12" [ngClass]="{'disabled': activeRiders.includes('HB') == false}" *ngIf="personalInfo.frequance !== 'S'">
                <div class="benf_div container-fluid" formGroupName="HB">
                  <div class="row">
                    <div class="col-xs-5">
                      <input formControlName="isActice" type="checkbox" class="" id="test-Active" (change)="isActive($event, 'HB')"
                        (change)="isActiveHB($event)" (click)="removeError('HB')">
                      <label class="" for="sumAssured">HB <span class="tooltip1">ⓘ <span class="tooltiptext">{{beneficts._hb}}</span></span>
                      </label>
                      <div>
                        <img [src]="imgHbGUrl" class=" img_active" [style.display]="isImgHBGActive ?'block'  : 'none'">
                      </div>
                      <div>
                        <img [src]="imgHbUrl" class="img_active" [style.display]="isImgHBActive ? 'block' : 'none'">
                      </div>
                    </div>
                    <div class="col-xs-7">
                      <div class="row">
                        <div class="col-xs-7">
                          <label class="frm_lbl" for="sumAssured">Sum Assured</label>
                          <input formControlName="sumAssured" type="number" class="form-control input-sm" (keyup.enter)="checkValidateHB()"
                            (blur)="checkValidateHB()" (keyup)="removeError('HB')" (click)="removeError('HB')" id="txt-sumassured"
                            [disabled]="isImgGActive" currencyMask>

                          <div class="alert alert-danger" *ngIf="validateHB!=1">
                            Error</div>
                        </div>
                        <div class="col-xs-5">
                          <div *ngIf="validateHB==1">
                            <label class="frm_lbl" for="sumAssured">Premium</label>
                            <input formControlName="premium" type="text" class="form-control input-sm" [(ngModel)]="summeryInfo._health.HB"
                              readonly id="txt-premium" [disabled]="isImgGActive">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12" [ngClass]="{'disabled': activeRiders.includes('WPB') == false}" *ngIf="personalInfo.frequance !== 'S'">
                <div class="benf_div container-fluid" formGroupName="WPB">
                  <div class="row">
                    <div class="col-xs-5">
                      <input formControlName="isActice" type="checkbox" class="" id="test-Active" (change)="isActive($event, 'WPB')"
                        (change)="isActiveWPB($event)" (change)="onsetBenifAll($event,'WPB')" (click)="removeError('WPB')"
                        onclick="return false">
                      <label class="" for="sumAssured">WPB <span class="tooltip1">ⓘ <span class="tooltiptext">{{beneficts._wpb}}</span></span>
                      </label>
                      <div>
                        <img [src]="imgwpbGUrl" class=" img_active" [style.display]="isImgWPBGActive ?'block'  : 'none'">
                      </div>
                      <div>
                        <img [src]="imgwpbUrl" class="img_active" [style.display]="isImgWPBActive ? 'block' : 'none'">
                      </div>
                    </div>
                    <div class="col-xs-7">
                      <div class="row">
                        <div class="col-xs-7">
                          <label class="" for="sumAssured">WPB </label>
                          <div [style.display]="!isImgWPBGActive ? 'block' : 'none'">
                            <label class="frm_lbl_applied" for="sumAssured">Applied</label>

                          </div>
                          <label class="frm_lbl" for="sumAssured" style="display: none;">Sum Assured</label>
                          <input formControlName="sumAssured" type="number" style="display: none;" class="form-control input-sm"
                            readonly id="txt-sumassured" [disabled]="isImgGActive" (keyup)="removeError('WPB')" (click)="removeError('WPB')"
                            currencyMask>
                        </div>
                        <div class="col-xs-5">
                          <label class="frm_lbl" for="sumAssured">Premium</label>
                          <input formControlName="premium" type="text" class="form-control input-sm" [(ngModel)]="summeryInfo._protection.WPB"
                            readonly id="txt-premium" [disabled]="isImgGActive">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </form>
        </ng-template>
      </ngb-tab>

      <!--END///////////////////////////////////////////////////////////////////////
        //////////////////////////////////////////////////////////////////////////////
      ////////////////////////////////////////////////////////////////////////////////-->

      <!--Spouse///////////////////////////////////////////////////////////////////////
        //////////////////////////////////////////////////////////////////////////////
      ////////////////////////////////////////////////////////////////////////////////-->

      <ngb-tab title="Spouse" *ngIf="activeSp == '1'">
        <ng-template ngbTabContent>
          <form class="form-horizontal" [formGroup]="absForm">
            <div class="content-div4" style="margin-top: 10px;">
              <div *ngIf="activeSp==1">
                <div *ngIf="personalInfo.frequance !== 'S'">

                  <div class="col-sm-12" *ngIf="isGetHealthBenef == false">
                    <div class="benf_div container-fluid" formGroupName="HCBS">
                      <div class="row">
                        <div class="col-xs-5">
                          <input formControlName="isActice" type="checkbox" class="" id="test-Active" (change)="isActiveHCBS($event)"
                            (click)="removeError('HCBS')">
                          <label class="" for="sumAssured">HCBS <span class="tooltip1">ⓘ <span class="tooltiptext">{{beneficts._hcbs}}</span></span>
                          </label>
                          <div>
                            <img [src]="imgHrbisGUrl" class=" img_active" [style.display]="none">
                          </div>
                        </div>
                        <div class="col-xs-7">
                          <div class="row">
                            <div class="col-xs-7">
                              <label class="frm_lbl" for="sumAssured" style="display: none;">Sum Assured</label>
                              <input formControlName="sumAssured" type="number" style="display: none;" class="form-control input-sm"
                                id="txt-sumassured" [disabled]="isImgGActive" (keyup)="removeError('HCBS')" (click)="removeError('HCBS')"
                                currencyMask>
                            </div>
                            <div class="col-xs-5">
                              <label class="frm_lbl" for="sumAssured">Premium</label>
                              <input formControlName="premium" type="text" class="form-control input-sm" readonly id="txt-premium"
                                [disabled]="isImgGActive">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12" *ngIf="isGetHcbi == true" [ngClass]="{'disabled': activeRiders.includes('HCBIS') == false}">
                    <div class="benf_div container-fluid" formGroupName="HRBIS">
                      <div class="row">
                        <div class="col-xs-5">
                          <input formControlName="isActice" type="checkbox" class="" id="test-Active" (change)="isActiveS($event, 'HRBIS')"
                            (change)="isActiveHRBIS($event)" (click)="removeError('HRBIS')">
                          <label class="" for="sumAssured">HCBIS <span class="tooltip1">ⓘ <span class="tooltiptext">{{beneficts._hcbis}}</span></span>
                          </label>
                          <div>
                            <img [src]="imgHrbisGUrl" class=" img_active" [style.display]="isImgHRBISGActive ?'block'  : 'none'">
                          </div>
                          <div>
                            <img [src]="imgHrbisUrl" class="img_active" [style.display]="isImgHRBISActive ? 'block' : 'none'">
                          </div>
                        </div>
                        <div class="col-xs-7">
                          <div class="row">
                            <div class="col-xs-7">
                              <div [style.display]="!isImgHRBISGActive ? 'block' : 'none'">
                                <label class="frm_lbl_applied" for="sumAssured">Applied</label>

                              </div>
                              <label class="frm_lbl" for="sumAssured" style="display: none;">Sum Assured</label>
                              <input formControlName="sumAssured" type="number" style="display: none;" class="form-control input-sm"
                                id="txt-sumassured" readonly (keyup)="removeError('HRBIS')" (click)="removeError('HRBIS')">
                              <div class="alert alert-danger" *ngIf="validateHRBIS!=1">
                                Error</div>
                            </div>
                            <div class="col-xs-5">
                              <div *ngIf="validateHRBIS==1">
                                <label class="frm_lbl" for="sumAssured">Premium</label>
                                <input formControlName="premium" type="text" class="form-control input-sm" [(ngModel)]="summeryInfo._health.HRBIS"
                                  readonly id="txt-premium" [disabled]="isImgGActive">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12" *ngIf="isGetHcbf == true" [ngClass]="{'disabled': activeRiders.includes('HCBFS') == false}">
                    <div class="benf_div container-fluid" formGroupName="HRBFS">
                      <div class="row">
                        <div class="col-xs-5">
                          <input formControlName="isActice" type="checkbox" class="" id="test-Active" (change)="isActiveS($event, 'HRBFS')"
                            (change)="isActiveHRBFS($event)" (click)="removeError('HRBFS')">
                          <label class="" for="sumAssured">HCBFS <span class="tooltip1">ⓘ <span class="tooltiptext">{{beneficts._hcbfs}}</span></span>
                          </label>
                          <div>
                            <img [src]="imgHrbfsGUrl" class=" img_active" [style.display]="isImgHRBFSGActive ?'block'  : 'none'">
                          </div>
                          <div>
                            <img [src]="imgHrbfsUrl" class="img_active" [style.display]="isImgHRBFSActive ? 'block' : 'none'">
                          </div>
                        </div>
                        <div class="col-xs-7">
                          <div class="row">
                            <div class="col-xs-7">
                              <div [style.display]="!isImgHRBFSGActive ? 'block' : 'none'">
                                <label class="frm_lbl_applied" for="sumAssured">Applied</label>

                              </div>
                              <label class="frm_lbl" for="sumAssured" style="display: none;">Sum Assured</label>
                              <input formControlName="sumAssured" type="number" style="display: none;" class="form-control input-sm"
                                readonly id="txt-sumassured" [disabled]="isImgGActive" (keyup)="removeError('HRBFS')"
                                (click)="removeError('HRBFS')">
                            </div>
                            <div class="col-xs-5">
                              <div *ngIf="validateHRBIS==1">
                                <label class="frm_lbl" for="sumAssured">Premium</label>
                                <input formControlName="premium" type="text" class="form-control input-sm" [(ngModel)]="summeryInfo._protection.HRBFS"
                                  readonly id="txt-premium" [disabled]="isImgGActive">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12" *ngIf="isGetShcbi == true" [ngClass]="{'disabled': activeRiders.includes('SHCBIS') == false}">
                    <div class="benf_div container-fluid" formGroupName="SUHRBS">
                      <div class="row">
                        <div class="col-xs-5">
                          <input formControlName="isActice" type="checkbox" class="" id="test-Active" (change)="isActiveS($event, 'SUHRBS')"
                            (change)="isActiveSUHRBS($event)" (click)="removeError('SUHRBS')">
                          <label class="" for="sumAssured">SHCBIS <span class="tooltip1">ⓘ <span class="tooltiptext">{{beneficts._shcbis}}</span></span>
                          </label>
                          <div>
                            <img [src]="imgSuhrbsGUrl" class=" img_active" [style.display]="isImgSUHRBSGActive ?'block'  : 'none'">
                          </div>
                          <div>
                            <img [src]="imgSuhrbsUrl" class="img_active" [style.display]="isImgSUHRBSActive ? 'block' : 'none'">
                          </div>
                        </div>
                        <div class="col-xs-7">
                          <div class="row">
                            <div class="col-xs-7">
                              <div [style.display]="!isImgSUHRBSGActive ? 'block' : 'none'">
                                <label class="frm_lbl_applied" for="sumAssured">Applied</label>

                              </div>
                              <label class="frm_lbl" for="sumAssured" style="display: none;">Sum Assured</label>
                              <input formControlName="sumAssured" type="number" style="display: none;" class="form-control input-sm"
                                id="txt-sumassured" readonly (keyup)="removeError('SUHRBS')" (click)="removeError('SUHRBS')">
                              <div class="alert alert-danger" *ngIf="validateSUHRBS!=1">
                                Error</div>
                            </div>
                            <div class="col-xs-5">
                              <div *ngIf="validateSUHRBS==1">
                                <label class="frm_lbl" for="sumAssured">Premium</label>
                                <input formControlName="premium" type="text" class="form-control input-sm" [(ngModel)]="summeryInfo._health.SUHRBS"
                                  readonly id="txt-premium" [disabled]="isImgGActive">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12" *ngIf="isGetShcbf == true" [ngClass]="{'disabled': activeRiders.includes('SHCBFS') == false}">
                    <div class="benf_div container-fluid" formGroupName="SHCBFS">
                      <div class="row">
                        <div class="col-xs-5">
                          <input formControlName="isActice" type="checkbox" class="" id="test-Active" (change)="isActiveSHCBFS($event)"
                            (change)="onsetBenifAll($event,'SHCBFS')" (click)="removeError('SUHRBS')">
                          <label class="" for="sumAssured">SHCBFS <span class="tooltip1">ⓘ <span class="tooltiptext">{{beneficts._shcbfs}}</span></span>
                          </label>
                          <div>
                            <img [src]="imgShcbfsGUrl" class=" img_active" [style.display]="isImgSHCBFSGActive ?'block'  : 'none'">
                          </div>
                          <div>
                            <img [src]="imgShcbfsUrl" class="img_active" [style.display]="isImgSHCBFSActive ? 'block' : 'none'">
                          </div>
                        </div>
                        <div class="col-xs-7">
                          <div class="row">
                            <div class="col-xs-7">
                              <div [style.display]="!isImgSHCBFSGActive ? 'block' : 'none'">
                                <label class="frm_lbl_applied" for="sumAssured">Applied</label>

                              </div>
                              <label class="frm_lbl" for="sumAssured" style="display: none;">Sum Assured</label>
                              <input formControlName="sumAssured" type="number" style="display: none;" class="form-control input-sm"
                                id="txt-sumassured" readonly (keyup)="removeError('SHCBFS')" (click)="removeError('SHCBFS')">
                            </div>
                            <div class="col-xs-5">
                              <div>
                                <label class="frm_lbl" for="sumAssured">Premium</label>
                                <input formControlName="premium" type="text" class="form-control input-sm" [(ngModel)]="summeryInfo._health.SHCBFS"
                                  readonly id="txt-premium" [disabled]="isImgGActive">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12" [ngClass]="{'disabled': activeRiders.includes('HBS') == false}">
                    <div class="benf_div container-fluid" formGroupName="HBS">
                      <div class="row">
                        <div class="col-xs-5">
                          <input formControlName="isActice" type="checkbox" class="" id="test-Active" (change)="isActiveS($event, 'HBS')"
                            (change)="isActiveHBS($event)" (click)="removeError('HBS')">
                          <label class="" for="sumAssured">HBS <span class="tooltip1">ⓘ <span class="tooltiptext">{{beneficts._hbs}}</span></span>
                          </label>
                          <div>
                            <img [src]="imgHbsGUrl" class=" img_active" [style.display]="isImgHBSGActive ?'block'  : 'none'">
                          </div>
                          <div>
                            <img [src]="imgHbsUrl" class="img_active" [style.display]="isImgHBSActive ? 'block' : 'none'">
                          </div>
                        </div>
                        <div class="col-xs-7">
                          <div class="row">
                            <div class="col-xs-7">
                              <div [style.display]="!isImgHBSGActive ? 'block' : 'none'">
                                <label class="frm_lbl_applied" for="sumAssured">Applied</label>

                              </div>
                              <label class="frm_lbl" for="sumAssured" style="display: none;">Sum Assured</label>
                              <input formControlName="sumAssured" type="number" style="display: none;" class="form-control input-sm"
                                id="txt-sumassured" [disabled]="isImgGActive" (keyup)="removeError('HBS')" (click)="removeError('HBS')"
                                readonly>
                              <div class="alert alert-danger" *ngIf="validateHBS!=1">
                                Error</div>
                            </div>
                            <div class="col-xs-5">
                              <div *ngIf="validateHBS==1">
                                <label class="frm_lbl" for="sumAssured">Premium</label>
                                <input formControlName="premium" type="text" class="form-control input-sm" [(ngModel)]="summeryInfo._health.HBS"
                                  readonly id="txt-premium" [disabled]="isImgGActive">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="Children" *ngIf="activeCh == '1'">
        <ng-template ngbTabContent>
          <form class="form-horizontal" [formGroup]="abcForm">
            <div class="content-div4" style="margin-top: 10px;">
              <div *ngIf="activeCh==1">
                <div *ngIf="personalInfo.frequance !== 'S'">

                  <div class="col-sm-12" *ngIf="isGetHealthBenef == false">
                    <div class="benf_div container-fluid" formGroupName="HCBC">
                      <div class="row">
                        <div class="col-xs-5">
                          <input formControlName="isActice" type="checkbox" class="" id="test-Active" (change)="isActiveHCBC($event)"
                            (click)="removeError('HCBC')">
                          <label class="" for="sumAssured">HCBC <span class="tooltip1">ⓘ <span class="tooltiptext">{{beneficts._hcbc}}</span></span>
                          </label>
                          <div>
                            <img [src]="imgHrbicGUrl" class=" img_active" [style.display]="none">
                          </div>
                        </div>
                        <div class="col-xs-7">
                          <div class="row">
                            <div class="col-xs-7">
                              <label class="frm_lbl" for="sumAssured" style="display: none;">Sum Assured</label>
                              <input formControlName="sumAssured" type="number" style="display: none;" class="form-control input-sm"
                                id="txt-sumassured" [disabled]="isImgGActive" (keyup)="removeError('HCBC')" (click)="removeError('HCBC')"
                                currencyMask>
                            </div>
                            <div class="col-xs-5">
                              <div>
                                <label class="frm_lbl" for="sumAssured">Premium</label>
                                <input formControlName="premium" type="text" class="form-control input-sm" readonly id="txt-premium"
                                  [disabled]="isImgGActive">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12" *ngIf="isGetHcbi == true" [ngClass]="{'disabled': activeRiders.includes('HCBIC') == false}">
                    <div class="benf_div container-fluid" formGroupName="HRBIC">
                      <div class="row">
                        <div class="col-xs-5">
                          <input formControlName="isActice" type="checkbox" class="" id="test-Active" (change)="isActiveC($event, 'HRBIC')"
                            (change)="isActiveHRBIC($event)" (click)="removeError('HRBIC')">
                          <label class="" for="sumAssured">HCBIC <span class="tooltip1">ⓘ <span class="tooltiptext">{{beneficts._hcbic}}</span></span>
                          </label>
                          <div>
                            <img [src]="imgHrbicGUrl" class=" img_active" [style.display]="isImgHRBICGActive ?'block'  : 'none'">
                          </div>
                          <div>
                            <img [src]="imgHrbicUrl" class="img_active" [style.display]="isImgHRBICActive ? 'block' : 'none'">
                          </div>
                        </div>
                        <div class="col-xs-7">
                          <div class="row">
                            <div class="col-xs-7">
                              <div [style.display]="!isImgHRBICGActive ? 'block' : 'none'">
                                <label class="frm_lbl_applied" for="sumAssured">Applied</label>

                              </div>
                              <label class="frm_lbl" for="sumAssured" style="display: none;">Sum Assured</label>
                              <input formControlName="sumAssured" type="number" style="display: none;" type="text"
                                class="form-control input-sm" (keyup.enter)="checkValidateHRBIC()" (blur)="checkValidateHRBIC()"
                                (keyup)="removeError('HRBIC')" (click)="removeError('HRBIC')" id="txt-sumassured"
                                [disabled]="isImgGActive" readonly>
                              <div class="alert alert-danger" *ngIf="validateHRBIC!=1">
                                Error</div>
                            </div>
                            <div class="col-xs-5">
                              <div *ngIf="validateHRBIC==1">
                                <label class="frm_lbl" for="sumAssured">Premium</label>
                                <input formControlName="premium" type="text" class="form-control input-sm" [(ngModel)]="summeryInfo._health.HRBIC"
                                  readonly id="txt-premium" [disabled]="isImgGActive">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <!-- <div class="col-sm-12" *ngIf="isGetHcbf == true" [ngClass]="{'disabled': activeRiders.includes('HCBFC') == false}">
                    <div class="benf_div container-fluid" formGroupName="HRBFC">
                      <div class="row">
                        <div class="col-xs-5">
                          <input formControlName="isActice" type="checkbox" class="" id="test-Active" (change)="isActiveC($event, 'HRBIC')"
                            (change)="isActiveHRBIC($event)" (click)="removeError('HRBIC')">
                          <label class="tooltip1" for="sumAssured">HCBFC <span class="tooltiptext">{{beneficts._hcbfc}}</span></label>
                          <div>
                            <img [src]="imgHrbfcGUrl" class=" img_active" [style.display]="isImgHRBFCGActive ?'block'  : 'none'">
                          </div>
                          <div>
                            <img [src]="imgHrbfcUrl" class="img_active" [style.display]="isImgHRBFCActive ? 'block' : 'none'">
                          </div>
                        </div>
                        <div class="col-xs-7">
                          <div class="row">
                            <div class="col-xs-7">
                              <div [style.display]="!isImgHRBFCGActive ? 'block' : 'none'">
                                <label class="frm_lbl_applied" for="sumAssured">Applied</label>
                              </div>

                              <label class="frm_lbl" for="sumAssured" style="display: none;">Sum Assured</label>
                              <input formControlName="sumAssured" type="number" style="display: none;" class="form-control input-sm"
                                readonly id="txt-sumassured" [disabled]="isImgGActive" (keyup)="removeError('HRBFC')"
                                (click)="removeError('HRBFC')" currencyMask>
                            </div>
                            <div class="col-xs-5">
                              <label class="frm_lbl" for="sumAssured">Premium</label>
                              <input formControlName="premium" type="text" class="form-control input-sm" [(ngModel)]="summeryInfo._protection.HRBFC"
                                readonly id="txt-premium" [disabled]="isImgGActive">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->

                  <div class="col-sm-12" *ngIf="isGetHcbf == true" [ngClass]="{'disabled': activeRiders.includes('HCBFC') == false}">
                    <div class="benf_div container-fluid" formGroupName="HRBFC">
                      <div class="row">
                        <div class="col-xs-5">
                          <input formControlName="isActice" type="checkbox" class="" id="test-Active" (change)="isActiveC($event, 'HRBIC')"
                            (change)="isActiveHRBFC($event)" (click)="removeError('HRBFC')">
                          <label class="" for="sumAssured">HCBFC <span class="tooltip1">ⓘ <span class="tooltiptext">{{beneficts._hcbfc}}</span></span>
                          </label>
                          <div>
                            <img [src]="imgHrbfcGUrl" class=" img_active" [style.display]="isImgHRBFCGActive ?'block'  : 'none'">
                          </div>
                          <div>
                            <img [src]="imgHrbfcUrl" class="img_active" [style.display]="isImgHRBFCActive ? 'block' : 'none'">
                          </div>
                        </div>
                        <div class="col-xs-7">
                          <div class="row">
                            <div class="col-xs-7">
                              <div [style.display]="!isImgHRBFCGActive ? 'block' : 'none'">
                                <label class="frm_lbl_applied" for="sumAssured">Applied</label>
                              </div>

                              <label class="frm_lbl" for="sumAssured" style="display: none;">Sum Assured</label>
                              <input formControlName="sumAssured" type="number" style="display: none;" class="form-control input-sm"
                                readonly id="txt-sumassured" [disabled]="isImgGActive" (keyup)="removeError('HRBFC')"
                                (click)="removeError('HRBFC')" currencyMask>
                            </div>
                            <div class="col-xs-5">
                              <label class="frm_lbl" for="sumAssured">Premium</label>
                              <input formControlName="premium" type="text" class="form-control input-sm" [(ngModel)]="summeryInfo._protection.HRBFC"
                                readonly id="txt-premium" [disabled]="isImgGActive">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12" *ngIf="isGetShcbi == true" [ngClass]="{'disabled': activeRiders.includes('SHCBIC') == false}">
                    <div class="benf_div container-fluid" formGroupName="SUHRBC">
                      <div class="row">
                        <div class="col-xs-5">
                          <input formControlName="isActice" type="checkbox" class="" id="test-Active" (change)="isActiveC($event, 'SUHRBC')"
                            (change)="isActiveSUHRBC($event)" (click)="removeError('SUHRBC')">
                          <label class="" for="sumAssured">SHCBIC <span class="tooltip1">ⓘ <span class="tooltiptext">{{beneficts._shcbic}}</span></span>
                          </label>
                          <div>
                            <img [src]="imgSuhrbcGUrl" class=" img_active" [style.display]="isImgSUHRBCGActive ?'block'  : 'none'">
                          </div>
                          <div>
                            <img [src]="imgSuhrbcUrl" class="img_active" [style.display]="isImgSUHRBCActive ? 'block' : 'none'">
                          </div>
                        </div>
                        <div class="col-xs-7">
                          <div class="row">
                            <div class="col-xs-7">
                              <div [style.display]="!isImgSUHRBCGActive ? 'block' : 'none'">
                                <label class="frm_lbl_applied" for="sumAssured">Applied</label>
                              </div>
                              <label class="frm_lbl" for="sumAssured">Sum Assured</label>
                              <input formControlName="sumAssured" type="number" style="display: none;" class="form-control input-sm"
                                (keyup.enter)="checkValidateSUHRBC()" (blur)="checkValidateSUHRBC()" (keyup)="removeError('SUHRBC')"
                                (click)="removeError('SUHRBC')" style="display: none;" id="txt-sumassured" [disabled]="isImgGActive"
                                readonly>
                              <div class="alert alert-danger" *ngIf="validateSUHRBC!=1">
                                Error</div>
                            </div>
                            <div class="col-xs-5">
                              <div *ngIf="validateSUHRBC==1">
                                <label class="frm_lbl" for="sumAssured">Premium</label>
                                <input formControlName="premium" type="text" class="form-control input-sm" [(ngModel)]="summeryInfo._health.SUHRBC"
                                  readonly id="txt-premium" [disabled]="isImgGActive">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12" *ngIf="isGetShcbf == true" [ngClass]="{'disabled': activeRiders.includes('SHCBFC') == false}">
                    <div class="benf_div container-fluid" formGroupName="SHCBFC">
                      <div class="row">
                        <div class="col-xs-5">
                          <input formControlName="isActice" type="checkbox" class="" id="test-Active" (change)="isActiveSHCBFC($event)"
                            (change)="onsetBenifC($event,'SHCBFC')" (click)="removeError('SHCBFC')">
                          <label class="" for="sumAssured">SHCBFC <span class="tooltip1">ⓘ <span class="tooltiptext">{{beneficts._shcbfc}}</span></span>
                          </label>
                          <div>
                            <img [src]="imgShcbfcGUrl" class=" img_active" [style.display]="isImgSHCBFCGActive ?'block'  : 'none'">
                          </div>
                          <div>
                            <img [src]="imgShcbfcUrl" class="img_active" [style.display]="isImgSHCBFCActive ? 'block' : 'none'">
                          </div>
                        </div>
                        <div class="col-xs-7">
                          <div class="row">
                            <div class="col-xs-7">
                              <label class="frm_lbl" for="sumAssured">Sum Assured</label>
                              <input formControlName="sumAssured" type="number" class="form-control input-sm" id="txt-sumassured"
                                readonly (keyup)="removeError('SHCBFC')" (click)="removeError('SHCBFC')">
                            </div>
                            <div class="col-xs-5">
                              <div>
                                <label class="frm_lbl" for="sumAssured">Premium</label>
                                <input formControlName="premium" type="text" class="form-control input-sm" [(ngModel)]="summeryInfo._health.SHCBFC"
                                  readonly id="txt-premium" [disabled]="isImgGActive">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12" [ngClass]="{'disabled': activeRiders.includes('HBC') == false}">
                    <div class="benf_div container-fluid" formGroupName="HBC">
                      <div class="row">
                        <div class="col-xs-5">
                          <input formControlName="isActice" type="checkbox" class="" id="test-Active" (change)="isActiveC($event, 'HBC')"
                            (change)="isActiveHBC($event)" (click)="removeError('HBC')">
                          <label class="" for="sumAssured">HBC <span class="tooltip1">ⓘ <span class="tooltiptext">{{beneficts._hbc}}</span></span>
                          </label>
                          <div>
                            <img [src]="imgHbcGUrl" class=" img_active" [style.display]="isImgHBCGActive ?'block'  : 'none'">
                          </div>
                          <div>
                            <img [src]="imgHbcUrl" class="img_active" [style.display]="isImgHBCActive ? 'block' : 'none'">
                          </div>
                        </div>
                        <div class="col-xs-7">
                          <div class="row">
                            <div class="col-xs-7">
                              <div [style.display]="!isImgHBCGActive ? 'block' : 'none'">
                                <label class="frm_lbl_applied" for="sumAssured">Applied</label>

                              </div>

                              <label class="frm_lbl" for="sumAssured" style="display: none;">Sum Assured</label>
                              <input formControlName="sumAssured" type="number" style="display: none;" type="text"
                                class="form-control input-sm" id="txt-sumassured" [disabled]="isImgGActive" (keyup)="removeError('HBC')"
                                (click)="removeError('HBC')" readonly>
                              <div class="alert alert-danger" *ngIf="validateHBC!=1">
                                Error</div>
                            </div>
                            <div class="col-xs-5">
                              <div>
                                <div *ngIf="validateHBC==1">
                                  <label class="frm_lbl" for="sumAssured">Premium</label>
                                  <input formControlName="premium" type="text" class="form-control input-sm"
                                    [(ngModel)]="summeryInfo._health.HBC" readonly id="txt-premium" [disabled]="isImgGActive">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
    <div>
    </div>
  </div>

</div>