<div class="main_div" style="min-height: 590px;">
    <div class="header_div">
        <h2>Proposal Info</h2>
    </div>
    <div class="body_div">
        <ngb-tabset>
            <ngb-tab title="Main Life">
                <ng-template ngbTabContent>
                    <div class="container-fluid content-div" style="margin-top: 10px;">
                        <form [formGroup]="mainLifeForm" class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Title:</label>
                                <div class="col-sm-10">
                                    <select class="form-control" formControlName="mTitle" name="mselectTitle"
                                        [(ngModel)]="_personalInfo._mainlife._mTitle" (change)="setGender()">
                                        <option value="MR">MR</option>
                                        <option value="MRS">MRS</option>
                                        <option value="MS">MS</option>
                                        <option value="MIS">MIS</option>
                                        <option value="DR">DR</option>
                                        <option value="DRMS">DRMS</option>
                                        <option value="REV">REV</option>
                                        <option value="VEN">VEN</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="insuredName">Insured Name:</label>
                                <div class="col-sm-10">
                                    <input type="email" maxlength="200" class="form-control" formControlName="mName"
                                        (keyup)="keyup($event)" id="txt-insuredName" placeholder="Enter Insured Name"
                                        name="insuredName" [(uppercase)]='_personalInfo._mainlife._mName' [(ngModel)]="_personalInfo._mainlife._mName"
                                        (blur)="checkValidity()" (keyup.enter)="checkValidity()" />
                                    <div class="alert alert-danger" *ngIf="mainLifeForm.get('mName').touched && mainLifeForm.get('mName').invalid">
                                        Name is Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="nic">NIC No:</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" (blur)="nicMain()" (keyup.enter)="nicMain()"
                                        formControlName="mNic" (keyup)="keyup($event)" id="txt-nic" [(uppercase)]='_personalInfo._mainlife._mNic'
                                        placeholder="Enter NIC" name="nic" [(ngModel)]="_personalInfo._mainlife._mNic">
                                    <div class="alert alert-danger" *ngIf="mainLifeForm.get('mNic').touched && mainLifeForm.get('mNic').invalid">
                                        Valid Nic Number is Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Email:</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" formControlName="mEmail" (keyup)="keyup($event)"
                                        id="txt-email" placeholder="Enter email" name="email" [(ngModel)]="_personalInfo._mainlife._mEmail"
                                        (blur)="checkValidity()" (keyup.enter)="checkValidity()">
                                    <div class="alert alert-danger" *ngIf="mainLifeForm.get('mEmail').touched && mainLifeForm.get('mEmail').invalid">
                                        Valid Email is Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="gender">Gender:</label>
                                <div class="col-sm-10 btn-group" ngbRadioGroup formControlName="mGender" name="radioGender"
                                    [(ngModel)]="_personalInfo._mainlife._mGender" (change)="check()">
                                    <label ngbButtonLabel class="btn-primary">
                                        <input ngbButton type="radio" value="M" (click)="canChangeGender()"> Male
                                    </label>
                                    <label ngbButtonLabel class="btn-primary">
                                        <input ngbButton type="radio" value="F" (click)="canChangeGender()"> Female
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="gender">Civil Status:</label>
                                <div class="col-sm-10 btn-group" ngbRadioGroup formControlName="mCivilStatus" name="radioStatus"
                                    [(ngModel)]="_personalInfo._mainlife._mCivilStatus" (change)="check()">
                                    <label ngbButtonLabel class="btn-primary">
                                        <input ngbButton type="radio" value="S" (click)="resetActivation()"> Single
                                    </label>
                                    <label ngbButtonLabel class="btn-primary">
                                        <input ngbButton type="radio" value="M" (click)="resetActivation()"> Married
                                    </label>
                                    <label ngbButtonLabel class="btn-primary">
                                        <input ngbButton type="radio" value="D" (click)="resetActivation()"> Divorced
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="dob">Date of Birth:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" formControlName="mDob" id="date-dob" name="date-dob"
                                        (keyup)="keyup($event)" [(ngModel)]="_personalInfo._mainlife._mDob" placeholder="DD-MM-YYYY"
                                        (blur)="calculateAgeM(e)" (keyup.enter)="calculateAgeM(e)" (blur)="checkValidity()"
                                        (keyup.enter)="checkValidity()">
                                    <div class="alert alert-danger" *ngIf="mainLifeForm.get('mDob').touched && mainLifeForm.get('mDob').invalid">
                                        Invalid Date Format</div>
                                </div>
                                <label class="control-label col-sm-2" for="age">Age:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="txt-age" formControlName="mAge" name="txt-age"
                                        placeholder="0" [(ngModel)]="_personalInfo._mainlife._mAge" (change)="check()"
                                        disabled>
                                    <div class="alert alert-danger" *ngIf="_personalInfo._mainlife._mAge>66 || _personalInfo._mainlife._mAge < 17">
                                        InValid</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="smoke">Smoking:</label>
                                <div class="col-sm-10 btn-group" ngbRadioGroup formControlName="mSmoking" name="radioSmoke"
                                    (blur)="checkValidity()" (keyup.enter)="checkValidity()" [(ngModel)]="_personalInfo._mainlife._mSmoking">
                                    <label ngbButtonLabel class="btn-primary">
                                        <input ngbButton type="radio" value="Yes"> Yes
                                    </label>
                                    <label ngbButtonLabel class="btn-primary">
                                        <input ngbButton type="radio" value="No"> No
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="mobile">Mobile:</label>
                                <div class="col-sm-10 input-group" style="padding-left: 15px; padding-right: 15px;">
                                    <span class="input-group-addon" id="basic-addon1">+94</span>
                                    <input type="number" class="form-control" formControlName="mMobile" id="txt-mobile"
                                        (keyup)="keyup($event)" placeholder="Enter Mobile" name="mobile" [(ngModel)]="_personalInfo._mainlife._mMobile"
                                        (blur)="checkValidity()" (keyup.enter)="checkValidity()">
                                    <div class="alert alert-danger" *ngIf="mainLifeForm.get('mMobile').touched && mainLifeForm.get('mMobile').invalid">
                                        Valid Mobile Number is Required</div>


                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="occupation">Occ. Cat:</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="select-occu" formControlName="mOccu" (blur)="checkValidity()"
                                        (keyup.enter)="checkValidity()" [(ngModel)]="_personalInfo._mainlife._mOccupation"
                                        (change)="check()">
                                        <option *ngFor="let occupation of ocupations" [attr.value]="occupation.ocupationid"
                                            [selected]="occupation.ocupationid == _personalInfo._mainlife._mOccupation">
                                            {{occupation.ocupationName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Spouse" *ngIf="_personalInfo._mainlife._mCivilStatus == 'M'">
                <ng-template ngbTabContent>
                    <div class="container-fluid content-div" style="margin-top: 10px;">

                        <form [formGroup]="spouseForm" class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Spouse Active:</label>
                                <div class="col-sm-10 btn-group" ngbRadioGroup name="radioSpouse" formControlName="sActive"
                                    [(ngModel)]="activeSp" (change)="checkSp()" (change)="activeS()">
                                    <label ngbButtonLabel class="btn-primary">
                                        <input ngbButton type="radio" value="1"> Yes
                                    </label>
                                    <label ngbButtonLabel class="btn-primary">
                                        <input ngbButton type="radio" value="2"> No
                                    </label>
                                </div>
                            </div>
                            <div id="spouse-frm-div" *ngIf="activeSp==1">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="stitle">Title:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="selectTitle" formControlName="sTitle"
                                            [(ngModel)]="_personalInfo._spouse._sTitle" (change)="checkTitle()">
                                            <option value="MR">MR</option>
                                            <option value="MRS">MRS</option>
                                            <option value="MS">MS</option>
                                            <option value="MIS">MIS</option>
                                            <option value="DR">DR</option>
                                            <option value="DRMS">DRMS</option>
                                            <option value="REV">REV</option>
                                            <option value="VEN">VEN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="spouseName">Spouse Name:</label>
                                    <div class="col-sm-10">
                                        <input type="email" maxlength="200" class="form-control" [(uppercase)]='_personalInfo._spouse._sName'
                                            formControlName="sName" (keyup)="keyup($event)" id="txt-spouseName"
                                            [(ngModel)]="_personalInfo._spouse._sName" placeholder="Enter Spouse Name"
                                            name="txt-spouseName" (blur)="checkValidity()" />
                                        <div class="alert alert-danger" *ngIf="spouseForm.get('sName').touched && spouseForm.get('sName').invalid">
                                            Valid Nic Number is Required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="nic">NIC No:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" formControlName="sNic" (keyup)="keyup($event)"
                                            id="txt-snic" placeholder="Enter NIC" [(ngModel)]="_personalInfo._spouse._sNic"
                                            name="txt-spouseNIC" [(uppercase)]='_personalInfo._spouse._sNic'
                                            (keyup.enter)="nicSpouse()" (blur)="nicSpouse()" />
                                        <div class="alert alert-danger" *ngIf="spouseForm.get('sNic').touched && spouseForm.get('sNic').invalid">
                                            Valid Nic Number is Required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="gender">Gender:</label>
                                    <div class="col-sm-10 btn-group" ngbRadioGroup formControlName="sGender" name="radioGenderS"
                                        [(ngModel)]="_personalInfo._spouse._sGender" (change)="checkSp()">
                                        <label ngbButtonLabel class="btn-primary">
                                            <input ngbButton type="radio" value="M" onclick="return false"> Male
                                        </label>
                                        <label ngbButtonLabel class="btn-primary">
                                            <input ngbButton type="radio" value="F" onclick="return false"> Female
                                        </label>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="dob">Date of Birth:</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" formControlName="sDob" (keyup)="keyup($event)"
                                            id="date-sdob" [(ngModel)]="_personalInfo._spouse._sDob" (change)="calculateAgeS(e)"
                                            (keyup.enter)="calculateAgeS(e)" name="txt-spouseDob" placeholder="DD-MM-YYYY">
                                        <div class="alert alert-danger" *ngIf="spouseForm.get('sDob').touched && spouseForm.get('sDob').invalid">
                                            Invalid Date Format</div>
                                    </div>
                                    <label class="control-label col-sm-2" for="age">Age:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" formControlName="sAge" id="txt-sage"
                                            placeholder="0" [(ngModel)]="_personalInfo._spouse._sAge" name="txt-sAge"
                                            (change)="checkSp()" disabled>
                                        <div class="alert alert-danger" *ngIf="_personalInfo._spouse._sAge > 66 || _personalInfo._spouse._sAge < 17">
                                            InValid</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="smoking">Smoking:</label>
                                    <div class="col-sm-10 btn-group" ngbRadioGroup formControlName="sSmoking" name="radioSmoking"
                                        [(ngModel)]="_personalInfo._spouse._sSmoking">
                                        <label ngbButtonLabel class="btn-primary">
                                            <input ngbButton type="radio" value="Yes"> Yes
                                        </label>
                                        <label ngbButtonLabel class="btn-primary">
                                            <input ngbButton type="radio" value="No"> No
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="occupation">Occ. Cat:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="selectOccu" formControlName="sOccu"
                                            [(ngModel)]="_personalInfo._spouse._sOccupation" (change)="checkSp(e)">
                                            <option *ngFor="let occupation of ocupations" [attr.value]="occupation.ocupationid"
                                                [selected]="occupation.ocupationid == _personalInfo._spouse._sOccupation">
                                                {{occupation.ocupationName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </ng-template>
            </ngb-tab>

            <ngb-tab title="Plan">
                <ng-template ngbTabContent>
                    <div class="container-fluid content-div" style="margin-top: 10px;">

                        <form class="form-horizontal">

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="term">Term:</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" name="txt-term" (blur)="check()"
                                        (keyup.enter)="check()" [(ngModel)]="_personalInfo._plan._term" oninput="this.value=this.value.replace(/[^0-9]/g,'');">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="frequency">Frequency:</label>
                                <div class="col-sm-10 switch-field">
                                    <select class="form-control" name="select_type" (change)="change(e)" [(ngModel)]="_personalInfo._plan._frequance">
                                        <option value="Single Premium">Single Premium</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="bsa">Interest Rate:</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="txt-intrate" [(ngModel)]="_personalInfo._plan._interestRate"
                                        (keyup.enter)="check()" (blur)="check()" name="txt-intrate" (keyup)="setDecimal($event);">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="bsa">Loan Amount:</label>
                                <div class="col-sm-10">
                                    <input style="display: none;" type="number" currencyMask class="form-control" id="txt-bsa-hidden"
                                        name="txt-bsa-hidden" [(ngModel)]="_personalInfo._plan._hidbsa">
                                    <input type="number" currencyMask class="form-control" id="txt-bsa" [(ngModel)]="_personalInfo._plan._bsa"
                                        (keyup.enter)="checkBSA()" (blur)="checkBSA()" name="txt-bsa">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="premium">Premium:</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control" id="txt-premium" [(ngModel)]="summeryInfo._summery.sumAssured"
                                        name="txt-premium">
                                </div>
                            </div>

                        </form>
                    </div>
                </ng-template>
            </ngb-tab>

        </ngb-tabset>

        <div>
            <router-outlet></router-outlet>
        </div>

    </div>

</div>