.mainBody{
    min-height: 620px;
}

.main_div{
    margin: 10px;
    box-shadow: 5px 5px 4px #777777;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    background: #CCC;
    background: url(/assets/images/preloader.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  